.center-login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.center-layout{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.manual-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}